# ARCHIVOS IGNORADOS POR GIT

# node Modules
**/node_modules/


# Entonces env
# **/env


# Docker Compose
# docker-compose.yml


# Configuracion de IDEs
.vscode/


# Script .sql Data Base
# nova_salud.sql

